<% if logged_in? %>
  <div class="row">
    <aside class="col-md-2">
      <section class="phrase_list" id="phrase_list">
        <%= render @phrases %>
      </section>
    </aside>
    <div class="col-md-7 bg-F7F7F7" id="abc-paper">
      <%= render 'abc_phrases/abc_paper' %>
    </div>
    <div class="col-md-3">
      <%= render 'abc_phrases/abc_edit' %>
    </div>
  </div>
  <script>initMeter("");</script>
  <script>initLength("");</script>
  <script>initKey("");</script>
  <script>updateAbcArea()</script>
  <script>showTopPhrase()</script>
  <script type="text/javascript">
    window.onload = function() {
      abc_editor = new ABCJS.Editor("area", { paper_id: "paper0", warnings_id:"warnings" });
    }
  </script>
<% else %>
  <div class="center jumbotron">
    <h1>Welcome to the Noten</h1>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
<% end %>
