  <aside class="col-md-2" id="home_aside">
    <section class="phrase_list" id="phrase_list">
      <div class="col-md-12" id="phrase_list_header">
        <h1>楽譜リスト</h1>
        <span id="phrase_list_count"><%= @phrases.size %> 曲</span>
      </div>
      <%= render @phrases %>
    </section>
  </aside>
