<div id="warnings"></div>
<div id="paper0"></div>
<textarea class="area" id="area" cols="80" rows="8"></textarea>
<script type="text/javascript">
  window.onload = function() {
    abc_editor = new ABCJS.Editor("area", { paper_id: "paper0", warnings_id:"warnings" });
  }
</script>
