@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  height: 100%;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

input.margin-bottom-0 {
  margin-bottom: 0;
}

div.bg-F7F7F7 {
  background-color: #F7F7F7;
}

button.margin-LR-15 {
  margin-left: 15px;
  margin-right: 15px;
}

button.margin-R-15 {
  margin-right: 15px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

header.mb-0 {
  margin-bottom: 0;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

/* error */

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* sidebar */

#home_aside {
  padding-left: 0px;
  padding-right: 0px;
  display: table;
  border-collapse: collapse;
  height: 100%;
  overflow-y: scroll;

  section.phrase_list {

    #phrase_list_header {
      border: solid #B1B1B1 1px;
      padding-top: 15px;
    }

    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
      text-align: right;
    }

    h1 {
      font-size: 1.4em;
      text-align: center;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }

    div[id^="abc_phrase_id_"] {
      border: solid #B1B1B1 1px;
      display: table-row;
      padding: 0;
      cursor: pointer;
    }
    
    div[id^="abc_phrase_id_"]:hover{
      background-color: #E6E6FA;
    }

    #abc_list_tytle {
      margin: 10px 0;
    }

    #abc_list_btns {
      margin-bottom: 10px;
    }

  }
}


/* paper */

#abc-paper {
  height: 500px;
}

/* edit */

#abc-edit {
  padding-top: 10px;
  height: 100%;
  background-color: #E6E6FA;
  border-left: solid #B1B1B1 1px;
}

textarea.area {
  display:none;
}
